body {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-family: 'Markazi Text';
  font-size: 40pt;
}

h2 {
  font-family: 'Markazi Text';
  font-size: 25pt;
}

h3 {
  font-family: 'Karla';
  font-size: 18pt;
}

h4 {
  font-family: 'Karla';
  font-size: 20pt;
  font-weight: bolder;
}

h5 {
  font-family: 'Karla';
  font-size: 16pt;
  font-weight: bolder;
}

h6 {
  font-family: 'Karla';
  font-size: 18pt;
  font-weight: bold;
}

p {
  font-family: 'Karla';
  font-size: 16pt;
  line-height: 1.5;
}

span {
  font-size: 16pt;
}

header {
  display: flex;
  background-color: rgb(242 242 242);
  width: 100%;
}

nav {
  display: flex;
  background-color: rgb(242 242 242);
}

.logo {
  width: 5em;
  height: 2.5em;
}

nav > ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

nav > ul > li {
  list-style: none;
}

/* Call to action */

.calltoaction {
  background-color: rgb(73 94 87);
  height: 100%;
  width: 100%;
  margin: 0.5em 0 2em 0;
}

.calltoaction-textarea {
  margin: 0;
  padding: 0;
}

.calltoaction-title {
  margin: 0;
  padding: 0;
  color: rgb(195 165 16);
}

.calltoaction-subtitle {
  margin: 0;
  padding: 0;
  color:rgb(255 255 255);
}

.calltoaction-text {
  margin: 0;
  padding: 0;
  color:rgb(255 255 255);
}

.calltoaction-btn {
  margin: 0;
  padding: 1em 2em 1em 2em;
  background-color: rgb(195 165 16);
  color:rgb(255 255 255);
  border: none;
  border-radius: 1em;
}

.calltoaction-imgarea {
  display: flex;
  justify-content: center;
}

.calltoaction-img {
  height: 12em;
  width: 10em;
  position: relative;
  top: 2em;
}

main {
  display: flex;
}

footer {
  display: flex;
}